body{
    background-color:hwb(256 4% 51%); 
    color: #ffffff; 
    font-family: "Inria Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #9655d3;
     color: #ffffff;
    font-family: "Inria Sans", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;

}